$Primary: #1890FF;

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f3f3f3;
    height: 50px;
}

main{
    flex-grow: 1;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}


h1{
    font-size: 30px;
}

h2{
    font-size: 24px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    &_link{
        text-decoration: none;
        font-size: 14px;
        margin: 0 8px;
        color: $Primary;
    }
}

footer{
    flex-shrink: 0;
    background-color: #f3f3f3;
    height: 30px;
}